# listy cd., krotki, słowniki, zbiory

Szymon Dziubak

### Listy - wprowadzenie

In [2]:
pizze = ['margherita', 'pepperoni', 'hawajska', 'capricciosa', 'diavola'] #definicja listy
zbior_obiektow = ['obiekt1', 1, 1.0, True, 'obiekt5'] #różne typy danych

In [3]:
pizze[0] #numeracja listy zaczyna się od 0

'margherita'

In [5]:
pizze[0:1] #pierwszy obiekt
pizze[1:3] #drugi i trzeci obiekt
pizze[-3:] #ostatnie 3 obiekty

['hawajska', 'capricciosa', 'diavola']

In [7]:
komunikat = f"Najostrzejsza pizza to {pizze[-1]}"
print(komunikat)

Najostrzejsza pizza to diavola

modyfikowanie, dodawanie i usuwanie elementów

In [11]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe']

In [12]:
niemieckie_auta[3] = 'volkswagen' # nadpisywanie elementu
print(niemieckie_auta)

['bmw', 'audi', 'mercedes', 'volkswagen']

In [13]:
niemieckie_auta.append('opel')# dodawanie elementu na koniec listy
print(niemieckie_auta)

['bmw', 'audi', 'mercedes', 'volkswagen', 'opel']

In [15]:
niemieckie_auta = []
niemieckie_auta.append('opel')
niemieckie_auta.append('bmw')
niemieckie_auta.append('audi')
niemieckie_auta.insert(1, 'mercedes')# wstawianie na określoną pozycję
print(niemieckie_auta)

['opel', 'mercedes', 'bmw', 'audi']

In [2]:
#dodajmy wiele elementów na raz - listy można dodawać
niemieckie_auta = []
niemieckie_auta = niemieckie_auta + ['opel', 'bmw', 'audi']
print(niemieckie_auta)

['opel', 'bmw', 'audi']

In [16]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe']
print(niemieckie_auta)
del niemieckie_auta[1] #trwale usuwamy audi czyli drugi element listy
print(niemieckie_auta)

['bmw', 'audi', 'mercedes', 'porshe']
['bmw', 'mercedes', 'porshe']

In [22]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe']
usuniety_element = niemieckie_auta.pop() #trwale usuwamy ostatni element listy i przechowujemy go w zmiennej
print("Usuneliśmy "+usuniety_element)

Usuneliśmy porshe

In [23]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe']
print(niemieckie_auta)
za_drogie = 'porshe'
niemieckie_auta.remove(za_drogie)
print(niemieckie_auta)

['bmw', 'audi', 'mercedes', 'porshe']
['bmw', 'audi', 'mercedes']

In [24]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe', 'opel']
niemieckie_auta.sort() #sortuje alfabetycznie
print(niemieckie_auta)

['audi', 'bmw', 'mercedes', 'opel', 'porshe']

In [26]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe', 'opel']
niemieckie_auta.sort(reverse = True) #sortuje odwrotnie alfabetycznie
print(niemieckie_auta)

['porshe', 'opel', 'mercedes', 'bmw', 'audi']

In [27]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe', 'opel']
print(sorted(niemieckie_auta)) #tymczasowe sortowanie

['audi', 'bmw', 'mercedes', 'opel', 'porshe']

In [29]:
niemieckie_auta = ['bmw', 'audi', 'mercedes', 'porshe', 'opel']
niemieckie_auta.reverse() #odwracamy piertwoną listę
print(niemieckie_auta)

['opel', 'porshe', 'mercedes', 'audi', 'bmw']

In [31]:
print(f"Na liście mamy {len(niemieckie_auta)} marek niemieckich aut")

Na liście mamy 5 marek niemieckich aut

### Praca z listą

pętla for z listą

In [32]:
japonskie_auta = ['mazda', 'lexus', 'toyota', 'nissan', 'honda']

In [38]:
#iterujemy po każdym elemencie listy
print("Mamy następujące najpopularniejsze japońskie auta:")
for marka in japonskie_auta:
    print(f"\t- {marka.title()}")

Mamy następujące najpopularniejsze japońskie auta:
	- Mazda
	- Lexus
	- Toyota
	- Nissan
	- Honda

In [40]:
print("Mamy następujące najpopularniejsze japońskie auta:")
i = 0 #numer iteracji
for marka in japonskie_auta:
    i += 1
    print(f"\t{i}. {marka.title()}")
print(f"Znaleziono {i} marek")

Mamy następujące najpopularniejsze japońskie auta:
	1. Mazda
	2. Lexus
	3. Toyota
	4. Nissan
	5. Honda
Znaleziono 5 marek

Należy zwracać uwagę na wcięcia. <br>Wszystkie elementy "pod pętlą" powinny mieć jedno wcięcie (1 tab).<br>
To co chcemy mieć poza pętlą nie może mieć wcięcia.

listy liczbowe

In [43]:
range(1,6) #zakres liczb całkowitych od 1 do 5

range(1, 6)

In [44]:
list(range(1,6)) #lista z zakresu, 6 nie znajduje sie wśród elementów

[1, 2, 3, 4, 5]

In [45]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range(1,10,2): #range(od, do, co jaki krok) 
    print(i)

1
3
5
7
9

In [8]:
for i in range(100, 0, -10): 
     print(i, end=' ')
        
print('\n-----------')

for i in range(100, 0, -10): 
     print(i, end='')
        
print('\n-----------')

for i in range(100, 0, -10): 
     print(i, end='\n')

100 90 80 70 60 50 40 30 20 10
-----------
100908070605040302010
-----------
100
90
80
70
60
50
40
30
20
10

In [49]:
#lista kwadratów
kwadraty = []
for wartosc in range(1,11):
    kwadrat = wartosc ** 2
    kwadraty.append(kwadrat)
    #kwadraty.append(wartosc ** 2)
    print(kwadrat)
print(kwadraty)

1
4
9
16
25
36
49
64
81
100
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [50]:
print(f"Maksimum z elementów listy: {max(kwadraty)}") #maksimum elementów listy
print(f"Minimum z elementów listy: {min(kwadraty)}") #minimum elementów listy
print(f"Suma z elementów listy: {sum(kwadraty)}") #suma elementów listy

Maksimum z elementów listy: 100
Minimum z elementów listy: 1
Suma z elementów listy: 385

In [2]:
#Listy skadane - jedna linia
kwadraty = [i**2 for i in range(1,11)]
print(kwadraty)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
#kwadraty dla liczb parzystych
kwadraty = []
for liczba in range(1,11):
    if liczba % 2 == 0:
        kwadraty.append(liczba**2)
print(kwadraty) 

#to samo za pomocą listy składanej
kwadraty = [i**2 for i in range(1,11) if i%2==0]
print(kwadraty)

[4, 16, 36, 64, 100]

In [11]:
# i <- liczba całkowita
#jeżeli i % 2 = 0 -> i^2
#jeżeli i % 3 = 0 -> i^3
#jeżeli i % 5 = 0 -> i^5
#jeżeli i % 7 = 0 -> i^7
#w pozostałych przypadkach i^1
kwadraty = []
for i in range(1,31):
    if i%2==0:
        kwadraty.append(i**2)
    elif i%3==0:
        kwadraty.append(i**3)
    elif i%5==0:
        kwadraty.append(i**5)
    elif i%7==0:
        kwadraty.append(i**7)
    else:
        kwadraty.append(i)
print(kwadraty)

#a teraz to samo za pomocą listy składanej
kwadraty_lista_skladana = [i**2 if i%2==0 
                           else i**3 if i%3==0 
                           else i**5 if i%5==0 
                           else i**7 if i%7==0 
                           else i 
                           for i in range(1,31)]

[1, 4, 27, 16, 3125, 36, 823543, 64, 729, 100, 11, 144, 13, 196, 3375, 256, 17, 324, 19, 400, 9261, 484, 23, 576, 9765625, 676, 19683, 784, 29, 900]

In [12]:
# czy listy dały te same wyniki
kwadraty == kwadraty_lista_skladana

True

In [4]:
#kopiowanie listy - jest konieczne aby nie nadpisywać pierwotnej listy
#uwaga - kopiowanie dotyczy tylko listy, nie zmiennych przechowujcych jedynie jedną wartość

#rozpatrzmy kopiowanie listy z pominięciem indeksu
producenci_najpopularniejszych_laptopow = ['apple', 'dell', 'lenovo', 'hp']
producenci_laptopow = producenci_najpopularniejszych_laptopow
print(producenci_laptopow)
producenci_laptopow.append('asus')
print(producenci_najpopularniejszych_laptopow) #dodanie elementu do listy pierwotnej spowodowało dodanie tego samego elementu do kopii

['apple', 'dell', 'lenovo', 'hp']
['apple', 'dell', 'lenovo', 'hp', 'asus']

In [1]:
a = 1
b = a
a = 2
print(b) #b nadal pozostaje 1

1

In [2]:
#teraz skopiujmy listy ze wzkazaniem indeksów
producenci_najpopularniejszych_laptopow = ['apple', 'dell', 'lenovo', 'hp']
producenci_laptopow = producenci_najpopularniejszych_laptopow[:]
print(producenci_laptopow)
producenci_najpopularniejszych_laptopow.append('asus')
print(producenci_laptopow) #dodanie elementu do listy pierwotnej nie spowodowało dodani tego samego elementu do kopii

['apple', 'dell', 'lenovo', 'hp']
['apple', 'dell', 'lenovo', 'hp']

### Krotki (tuple)

In [24]:
#jest to niemodyfikowalna lista
wymiary = (2,3)
print(wymiary[1])
wymiary[0] = 1

3

TypeError: 'tuple' object does not support item assignment

In [26]:
wymiary = (5,30) #(wiersze, kolumny)
type(wymiary)
for i in range(1,wymiary[0]+1):
    print('*'*wymiary[1])

******************************
******************************
******************************
******************************
******************************

In [30]:
wysokosc = (30,) #krotka z jednym elementem
print(wysokosc)
print(wysokosc[0])

(30,)
30

In [33]:
#całe krotki można nadpisać
krotka = (1,2,3)
#krotka[1] = 4 #błąd
krotka = (11, 22, 33)
print(krotka)

(11, 22, 33)

### Słowniki

In [36]:
#Słowniki to pary klucz:wartość
student_0 = {'imię':'Anna', 'nazwisko':'Nowak', 'numer indeksu':76543}

In [37]:
student_0['numer indeksu'] #wybieramy wartość słownika o kluczu 'numer indeksu'

76543

In [38]:
print(f"Student {student_0['imię']} {student_0['nazwisko']} ma numer indeksu {student_0['numer indeksu']}")

Student Anna Nowak ma numer indeksu 76543

In [40]:
#dodajemy nową parę klucz-wartość
student_0['rodzaj studiów'] = 'stacjonarne'
print(student_0)

{'imię': 'Anna', 'nazwisko': 'Nowak', 'numer indeksu': 76543, 'rodzaj studiów': 'stacjonarne'}

In [41]:
#przenosimy studenta na studia niestacjonarne jeżeli nich nie jest
if student_0['rodzaj studiów'] != 'niestacjonarne' and student_0['numer indeksu'] == '76543':
    student_0['rodzaj studiów'] = 'niestacjonarne'

In [42]:
#usuwamy parę klucz-wartość
del student_0['rodzaj studiów']
print(student_0)

{'imię': 'Anna', 'nazwisko': 'Nowak', 'numer indeksu': 76543}

In [44]:
#słownik podobych obiektów
auta_marki = {
    'Audi':'Niemcy',
    'Citroen':'Francja',
    'Fiat':'Włochy',
    'Seat':'Hiszpania',
    'Ford':'USA'}

In [45]:
#teraz aby sprawdzić, z jakiego kraju pochodzi marka auta wystarczy sprawdzić wartość w słowniku
auta_marki['Audi']

'Niemcy'

In [52]:
#metoda get(przeszukiwany klucz, wartość jeżeli klucz nie istnieje)
auta_marki.get('Seat')

'Hiszpania'

In [51]:
auta_marki.get('Volvo')#nic nie zwraca - nie ma takiej wartości

In [53]:
auta_marki.get('Volvo', 'inny kraj')

'inny kraj'

In [56]:
#iteracja przez pary klucz-wartość
for klucz, wartość in auta_marki.items():
    print(f"{klucz} pochodzi z kraju {wartość}")

Audi pochodzi z kraju Niemcy
Citroen pochodzi z kraju Francja
Fiat pochodzi z kraju Włochy
Seat pochodzi z kraju Hiszpania
Ford pochodzi z kraju USA

In [61]:
#iteracja przez klucze
print("Marki aut")
for marka in auta_marki.keys():
    print(f"\t-{marka}")

Marki aut
	-Audi
	-Citroen
	-Fiat
	-Seat
	-Ford

In [62]:
#iteracja przez posortowane klucze
print("Marki aut")
for marka in sorted(auta_marki.keys()):
    print(f"\t-{marka}")

Marki aut
	-Audi
	-Citroen
	-Fiat
	-Ford
	-Seat

In [64]:
#iteracja przez wartości
print("Kraje:")
for kraj in auta_marki.values():
    print(f"\t-{kraj}")

Kraje:
	-Niemcy
	-Francja
	-Włochy
	-Hiszpania
	-USA

In [66]:
#iteracja przez posortowane wartości
print("Kraje:")
for kraj in sorted(auta_marki.values()):
    print(f"\t-{kraj}")

Kraje:
	-Francja
	-Hiszpania
	-Niemcy
	-USA
	-Włochy

In [2]:
#słowniki zagniedzone
#lista w słowniku
ulubione_przedmioty = {
    "Jan":['Makroekonomia', 'Mikroekonomia', 'Ekonometria panelowa'],
    "Agnieszka":["Bazy danych", "Podstawy aproksymacji"],
    "Franciszek":["Analiza matematyczna", "Algebra"]
}

In [6]:
for imie, lista_przedmiotów in ulubione_przedmioty.items():
    print(f"\n{imie} lubi następujące przedmioty:")
    for przedmiot in lista_przedmiotów:
        print(f"\t-{przedmiot}")

Jan lubi następujące przedmioty:
	-Makroekonomia
	-Mikroekonomia
	-Ekonometria panelowa

Agnieszka lubi następujące przedmioty:
	-Bazy danych
	-Podstawy aproksymacji

Franciszek lubi następujące przedmioty:
	-Analiza matematyczna
	-Algebra

In [7]:
#słownik w słowniku
studenci = {
    76543:{'imię':'Szymon', 'nazwisko': 'Dziubak', 'kierunek':'Analiza Danych - Big Data', 'tryb studiów':'stacjonarne'},
    76542:{'imię':'Zofia', 'nazwisko': 'Nowak', 'kierunek':'Finanse i Rachunkowość', 'tryb studiów':'niestacjonarne'},
    76541:{'imię':'Zbigniew', 'nazwisko': 'Kowalski', 'kierunek':'Zarządzanie', 'tryb studiów':'stacjonarne'}    
}

In [12]:
for numer_indeksu, dane_studenta in studenci.items():
    imie = dane_studenta['imię']
    nazwisko = dane_studenta['nazwisko']
    kierunek = dane_studenta['kierunek']
    tryb_studiow = dane_studenta['tryb studiów']
    tekst = f"Student o numerze indeksu {numer_indeksu} to {imie} {nazwisko} na kierunku {kierunek} o trybie studiów {tryb_studiow}"
    print(tekst)

Student o numerze indeksu 76543 to Szymon Dziubak na kierunku Analiza Danych - Big Data o trybie studiów stacjonarne
Student o numerze indeksu 76542 to Zofia Nowak na kierunku Finanse i Rachunkowość o trybie studiów niestacjonarne
Student o numerze indeksu 76541 to Zbigniew Kowalski na kierunku Zarządzanie o trybie studiów stacjonarne

In [5]:
#Rozpatrzmy listę krotek i konwertujmy ją na słownik
lista = [('Szymon', 'stacjonarne'),('Zbigniew', 'stacjonarne'), ('Zofia', 'niestacjonarne'),('Zbigniew', 'niestacjonarne') ]
słownik = dict(lista)
print(słownik)
słownik['Zbigniew'] #wiele elementów z kluczem 'Zbigniew' przyjęło wartość ostatniej krotki

{'Szymon': 'stacjonarne', 'Zbigniew': 'niestacjonarne', 'Zofia': 'niestacjonarne'}

'niestacjonarne'

### Zbiory

Zbiór ma dwie ważne cechy: obiekty w zbiorze nie mogą się powtarzać oraz dostęp do konkretnych elementów zbioru (znalezienie elementu w zbiorze lub stwierdzenie, że takowego nie ma) jest bardzo szybki.

In [1]:
zbiorPusty = set()
print(zbiorPusty)

zbior = {1, 3, 5}
print(zbior)

set()
{1, 3, 5}

In [6]:
zbior_set = set([7, 8, 1,2,3, 1, 3,5])
print(zbior_set) #unikalne i uporządkowane rekordy

{1, 2, 3, 5, 7, 8}

In [9]:
4 in zbior_set #sprawdzamy czy 4 jest w zbiorze
'1' in zbior_set #sprawdzamy czy 1 jako string jest w zbiorze

False

In [ ]:
zbiorPusty.add(2) #dodajemy element do zbioru
print(zbiorPusty)

In [10]:
zbiorPusty.discard(2) #usuwamy element ze zbioru
print(zbiorPusty)

set()

In [11]:
#Operacje na zbiorach
print({1,5,8} | {1,5,9}) # suma
## {1, 5, 8, 9}
print({1, 5, 8} - {1, 5, 9}) # różnica
## {8}
print({1, 5, 8} & {1, 5, 9}) # przecięcie
## {1, 5}

{1, 5, 8, 9}
{8}
{1, 5}

### zip i map

In [3]:
#polecenie zip łączy 2 listy
zipped = zip([1,2,3], [4,5,6])
for i, j in zipped:
    print(f"{i}/{j}")
    wynik = i/j
    print(wynik)

1/4
0.25
2/5
0.4
3/6
0.5

In [4]:
for i in zip([1,2,3], [4,5,6]): #przy iterazji zip zwraca krotki z odpowiednimi elementami
    print(i)

(1, 4)
(2, 5)
(3, 6)

In [5]:
#drugi sposób z poleceniem map
#map(funkcja, wartości1, wartości2,...) wykonuje dane operacje na wartościach

from operator import truediv #import funkcji dzielącej
list(map(truediv, [1,2,3], [4,5,6]))

[0.25, 0.4, 0.5]

In [6]:
#funkcje możemy również zaimplementować sobie sami
def square(numer):
    return numer * numer

list(map(square, [1,2,3]))

[1, 4, 9]

In [7]:
#teraz sami zaimplementujmy dzielenie dla funkcji map
def dzielenie(numer1, numer2):
    return numer1/numer2
    
list(map(dzielenie, [1,2,3], [4,5,6]))

[0.25, 0.4, 0.5]

### Tablice

Tablice w Pythonie nie są zbyt często używane. Ich istnienie nawiązuje do tablic z jęcyka C.<br>
Wymagają deklaracji typu danych, które będą przechowywać.<br>
Możemy ich użyć zamiast list jeżeli dbamy o mniejsze zużycie pamięci.<br>
Listy w Pythonie mają pewne cechy (np. możliwość przechowywania wielu typów danych) które zwiększają zużycie pamięci.

In [9]:
from array import array

In [10]:
arr = array('i', [2356, 1243, 88]) #i to definicja typu danych. Może być jeszcze f jako float lub u jako unicode(string)

In [11]:
arr

array('i', [2356, 1243, 88])

In [12]:
for x in arr:
    print(x)

2356
1243
88

In [13]:
arr.append(48) #dołączamy jeden rekord
print(arr)

array('i', [2356, 1243, 88, 48])

In [14]:
arr.extend([112, 332, 277]) #rozszerzamy tablice o liste
print(arr)

array('i', [2356, 1243, 88, 48, 112, 332, 277])

In [15]:
arr.remove(1243)#usuwamy rekord z tablicy
print(arr)

array('i', [2356, 88, 48, 112, 332, 277])

In [16]:
arr.index(2356) #wyświetlamy indeks wartości

0