# Pętle, instrukcje warunkowe

Szymon Dziubak

### Konstrukcja warunkowa if

Konstrukcja:<br>
`
if warunek:
    akcja
elif warunek:
    akcja
elif warunek:
    akcja
else:
    akcja
`

In [ ]:
#test warunkowy:
auto = 'Kia'
auto == 'Kia'

In [ ]:
auto.upper() != 'Kia'

In [ ]:
koreanskie_auta = ['Kia', 'Hyundai', 'Daewoo']
niemieckie_auta = ['Audi', 'Opel', 'BMW', 'Mercedes', 'Porshe']
japonskie_auta = ['Mazda', 'Lexus', 'Toyota', 'Nissan', 'Honda']
'Nissan' in koreanskie_auta

In [ ]:
niemieckie_auta = ['Audi', 'Opel', 'BMW', 'Mercedes', 'Porshe']
japonskie_auta = ['Mazda', 'Lexus', 'Toyota', 'Nissan', 'Honda']
koreanskie_auta = ['Kia', 'Hyundai', 'Daewoo']

auto = 'toyota'
wiek = 17
if auto.title() in niemieckie_auta:
    print(f'{auto.title()} to niemieckie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
elif auto.title() in japonskie_auta:
    print(f'{auto.title()} to japonskie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
elif auto.title() in koreanskie_auta:
    print(f'{auto.title()} to koreanskie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
else:
    print(f"{auto.title()} pochodzi z niezdefiniowanego kraju")

### Pętla for

Konstrukcja<br>
`
for element in objekt:
    akcja
`

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for firma in ['Alphabet', 'Microsoft', 'IBM', 'Oracle', 'Salesforce']:
    print(f"{firma.title()} to amerykański wytwórca orpogramowania")

Alphabet to amerykański wytwórca orpogramowania
Microsoft to amerykański wytwórca orpogramowania
Ibm to amerykański wytwórca orpogramowania
Oracle to amerykański wytwórca orpogramowania
Salesforce to amerykański wytwórca orpogramowania

In [10]:
#tabliczka mnożenia
lista_a = [1,2,3,4,5,6,7,8,9,10]
lista_b = lista_a[:]
for a in lista_a:
    for b in lista_b:
        print(f"{a}*{b}={a*b}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [6]:
lista = ['Alphabet', 'Microsoft', 'IBM', 'Oracle', 'Salesforce']
for i, element in enumerate(lista):
    print(f"{i+1}) {element}")

1) Alphabet
2) Microsoft
3) IBM
4) Oracle
5) Salesforce

### Pętla while

Konstrukcja<br>
`
while True:
    akcja
`

In [28]:
numer = 1
while numer <= 5: #trzeba uważać na pętle nieskończone
    print(numer)
    numer += 1

1
2
3
4
5

In [27]:
import random #moduł do liczb losowych
#random.random()# liczba losowa od 0 do 1
numer = 1
iter = 1
while numer > 3e-3: #3*10^(-3)
    numer *= random.random()
    print(f"{iter}:{numer}")
    iter += 1

1:0.8771729640285172
2:0.05240609107031798
3:0.033970688726145004
4:0.022880952012349413
5:0.0062931090533387135
6:0.0043748057113931265
7:0.0002453592445759148

In [40]:
n = 1
while n < 20:
    n += 1
    if n == 15:
        break
    print("Numer ", n)
print("Koniec pętli")

Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Koniec pętli

In [41]:
n = 1
while n < 20:
    n += 1
    if n == 15:
        continue
    print("Numer ", n)
print("Koniec pętli")

Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Numer  16
Numer  17
Numer  18
Numer  19
Numer  20
Koniec pętli

Polecenia break i continue z pętlą for

In [42]:
n = 1
for n in range(n, 20):
    if n == 15:
        break
    print("Numer ", n)
print("Koniec pętli")

Numer  1
Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Koniec pętli

In [43]:
n = 1
for n in range(n, 20):
    if n == 15:
        continue
    print("Numer ", n)
print("Koniec pętli")

Numer  1
Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Numer  16
Numer  17
Numer  18
Numer  19
Koniec pętli

### Wszystko razem - zadania

__Przykład 1.__ <br>
Stwórz słownik osób z liczbą punktów za 2 aktywności: projekt (max 40) i egzamin (max 60).
Na podstawie sumy punktów dodaj ocene wg. skali: <br>
    51 – 60 - 3<br>
    61 – 70 – 3,5<br>
    71 – 80 – 4<br>
    81 - 90 – 4,5<br>
    91 – 100 – 5 
    
Na wejściu powinniśmy utworzyć słownik:<br>
oceny = {numer_indeksu_1 : {projekt: ilosc_punktow, cwiczenia: ilosc_punktow}, numer_indeksu_2 = ...}<br>
Na wyjściu powinnismy otrzymać:<br>
oceny = {numer_indeksu_1 : {projekt: ilosc_punktow, cwiczenia: ilosc_punktow, ocena: ocena}, numer_indeksu_2 = ...}

__Przykład 2__<br>
Zaimplementuj algorytm potęgi bez użycia znaku potęgi dla dodatnich wykładników (tylko mnożenie i dodawanie).<br>
Spróbuj uzyskać ten sam efekt za pomocą pętli for i while.

__Przykład 3__<br>
Znajdź miejsca zerowe ax^2 + bx + c = 0 <br>
dla a = 2 b = -5 c = 7

__Przykład 4__<br>
Oblicz NWD dla zdefiniowanych a i b<br>
Własności NWD:<br>
NWD(a,b) = NWD (a-b, b) gdzie a>b<br>
NWD(a,b) = NWD(a, b-a) gdzie a<b<br>

__Przykład 5__<br>
Napisz kod na obliczanie dominanty. Jeeli mamy remis to wybierz dowoln z tych liczb.

__Przykład 6__<br>
Zaimplemenuj liczenie mediany dla liczb z listy.

__Przykład 7__<br>
Sprawdź czy napis jest palindromem, czyli na wspak da taki sam napis jak "kajak".

__Przykład 8__<br>
W folderze 4.Pliki dodatkowe znajdują się 2 pliki: Dane historyczne dla EUR_PLN i EUR_USD.<br>
Stwórz słownik z notowaniami dla par EUR_PLN i EUR_USD w formie listy dla kursów z otwarcia dla dat od 12.09.2022 do 16.09.2022.<br>
Dodaj nowy klucz z notowaniami dla pary USD_PLN (obliczając ją odpowiednia dzieląc kurs EUR/PLN przez EUR/USD).

__Przykład 9__<br>
Narysujmy choinke ze zdefiniowaną wysokością

__Przykład 10__<br>
Mając kurs EUR/USD sprawdź czy danego dnia kurs jest poniżej czy powyżej parytetu (parytet: EUR/USD = 1)

|Data|EUR/USD|
|----|-------|
|25.08.2022|0.9974| 
|26.08.2022|0.9961|
|29.08.2022|0.9995|
|30.08.2022|1.0012|
|31.08.2022|1.0057|