# Pętle, instrukcje warunkowe

Szymon Dziubak

### Konstrukcja warunkowa if

Konstrukcja:<br>
`
if warunek:
    akcja
elif warunek:
    akcja
elif warunek:
    akcja
else:
    akcja
`

In [ ]:
#test warunkowy:
auto = 'Kia'
auto == 'Kia'

In [ ]:
auto.upper() != 'Kia'

In [ ]:
koreanskie_auta = ['Kia', 'Hyundai', 'Daewoo']
niemieckie_auta = ['Audi', 'Opel', 'BMW', 'Mercedes', 'Porshe']
japonskie_auta = ['Mazda', 'Lexus', 'Toyota', 'Nissan', 'Honda']
'Nissan' in koreanskie_auta

In [ ]:
niemieckie_auta = ['Audi', 'Opel', 'BMW', 'Mercedes', 'Porshe']
japonskie_auta = ['Mazda', 'Lexus', 'Toyota', 'Nissan', 'Honda']
koreanskie_auta = ['Kia', 'Hyundai', 'Daewoo']

auto = 'toyota'
wiek = 17
if auto.title() in niemieckie_auta:
    print(f'{auto.title()} to niemieckie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
elif auto.title() in japonskie_auta:
    print(f'{auto.title()} to japonskie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
elif auto.title() in koreanskie_auta:
    print(f'{auto.title()} to koreanskie auto')
    if wiek >= 18:
        print("Twoje auto jest już pełnoletnie")
else:
    print(f"{auto.title()} pochodzi z niezdefiniowanego kraju")

### Pętla for

Konstrukcja<br>
`
for element in objekt:
    akcja
`

In [1]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for firma in ['Alphabet', 'Microsoft', 'IBM', 'Oracle', 'Salesforce']:
    print(f"{firma.title()} to amerykański wytwórca orpogramowania")

Alphabet to amerykański wytwórca orpogramowania
Microsoft to amerykański wytwórca orpogramowania
Ibm to amerykański wytwórca orpogramowania
Oracle to amerykański wytwórca orpogramowania
Salesforce to amerykański wytwórca orpogramowania

In [10]:
#tabliczka mnożenia
lista_a = [1,2,3,4,5,6,7,8,9,10]
lista_b = lista_a[:]
for a in lista_a:
    for b in lista_b:
        print(f"{a}*{b}={a*b}")

1*1=1
1*2=2
1*3=3
1*4=4
1*5=5
1*6=6
1*7=7
1*8=8
1*9=9
1*10=10
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
3*10=30
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
4*10=40
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
6*10=60
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
8*10=80
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
9*10=90
10*1=10
10*2=20
10*3=30
10*4=40
10*5=50
10*6=60
10*7=70
10*8=80
10*9=90
10*10=100

In [6]:
lista = ['Alphabet', 'Microsoft', 'IBM', 'Oracle', 'Salesforce']
for i, element in enumerate(lista):
    print(f"{i+1}) {element}")

1) Alphabet
2) Microsoft
3) IBM
4) Oracle
5) Salesforce

### Pętla while

Konstrukcja<br>
`
while True:
    akcja
`

In [28]:
numer = 1
while numer <= 5: #trzeba uważać na pętle nieskończone
    print(numer)
    numer += 1

1
2
3
4
5

In [27]:
import random #moduł do liczb losowych
#random.random()# liczba losowa od 0 do 1
numer = 1
iter = 1
while numer > 3e-3: #3*10^(-3)
    numer *= random.random()
    print(f"{iter}:{numer}")
    iter += 1

1:0.8771729640285172
2:0.05240609107031798
3:0.033970688726145004
4:0.022880952012349413
5:0.0062931090533387135
6:0.0043748057113931265
7:0.0002453592445759148

In [40]:
n = 1
while n < 20:
    n += 1
    if n == 15:
        break
    print("Numer ", n)
print("Koniec pętli")

Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Koniec pętli

In [41]:
n = 1
while n < 20:
    n += 1
    if n == 15:
        continue
    print("Numer ", n)
print("Koniec pętli")

Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Numer  16
Numer  17
Numer  18
Numer  19
Numer  20
Koniec pętli

Polecenia break i continue z pętlą for

In [42]:
n = 1
for n in range(n, 20):
    if n == 15:
        break
    print("Numer ", n)
print("Koniec pętli")

Numer  1
Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Koniec pętli

In [43]:
n = 1
for n in range(n, 20):
    if n == 15:
        continue
    print("Numer ", n)
print("Koniec pętli")

Numer  1
Numer  2
Numer  3
Numer  4
Numer  5
Numer  6
Numer  7
Numer  8
Numer  9
Numer  10
Numer  11
Numer  12
Numer  13
Numer  14
Numer  16
Numer  17
Numer  18
Numer  19
Koniec pętli

### Wszystko razem - zadania

__Przykład 1.__ <br>
Stwórz słownik osób z liczbą punktów za 2 aktywności: projekt (max 40) i egzamin (max 60).
Na podstawie sumy punktów dodaj ocene wg. skali: <br>
    51 – 60 - 3<br>
    61 – 70 – 3,5<br>
    71 – 80 – 4<br>
    81 - 90 – 4,5<br>
    91 – 100 – 5 
    
Na wejściu powinniśmy utworzyć słownik:<br>
oceny = {numer_indeksu_1 : {projekt: ilosc_punktow, cwiczenia: ilosc_punktow}, numer_indeksu_2 = ...}<br>
Na wyjściu powinnismy otrzymać:<br>
oceny = {numer_indeksu_1 : {projekt: ilosc_punktow, cwiczenia: ilosc_punktow, ocena: ocena}, numer_indeksu_2 = ...}

In [7]:
oceny = {
    76543:{'projekt':35, 'egzamin':34},
    76542:{'projekt':27, 'egzamin':55},
    76541:{'projekt':40, 'egzamin':54},
    76549:{'projekt':11, 'egzamin':41},
    76548:{'projekt':0, 'egzamin':54},
    76547:{'projekt':36, 'egzamin':11}
}

for numer_indeksu, wartosci in oceny.items():
    suma_punktow = wartosci['projekt']+wartosci['egzamin']
    if suma_punktow > 90:
        oceny[numer_indeksu]['ocena'] = 5
    elif suma_punktow > 80:
        oceny[numer_indeksu]['ocena'] = 4.5
    elif suma_punktow > 70:
        oceny[numer_indeksu]['ocena'] = 4
    elif suma_punktow > 60:
        oceny[numer_indeksu]['ocena'] = 3.5
    elif suma_punktow > 50:
        oceny[numer_indeksu]['ocena'] = 3
    else:
        oceny[numer_indeksu]['ocena'] = 2
    
print(oceny)

__Przykład 2__<br>
Zaimplementuj algorytm potęgi bez użycia znaku potęgi dla dodatnich wykładników (tylko mnożenie i dodawanie).<br>
Spróbuj uzyskać ten sam efekt za pomocą pętli for i while.

In [33]:
#wzór na potęgę: (podstawa)^(wykładnik)
podstawa = 3
wykładnik = 4

In [34]:
wynik = 1
for i in range(1, wykładnik+1):
    wynik *= podstawa 
print(wynik)

81

In [35]:
i = 1
wynik = 1
while i <= wykładnik:
    wynik *= podstawa
    i += 1
print(wynik)

81

__Przykład 3__<br>
Znajdź miejsca zerowe ax^2 + bx + c = 0 <br>
dla a = 2 b = -5 c = 7

In [40]:
a = -2
b = -5
c = 7

In [46]:
delta = b**2 - 4*a*c
if delta < 0:
    print("brak miejsc zerowych")
else:
    x1 = (-b - delta**(1/2))/(2*a)
    x2 = (-b + delta**(1/2))/(2*a)
    print("x1: "+ str(x1))
    print("x2: "+ str(x2))

x1: 1.0
x2: -3.5

__Przykład 4__<br>
Oblicz NWD dla zdefiniowanych a i b<br>
Własności NWD:<br>
NWD(a,b) = NWD (a-b, b) gdzie a>b<br>
NWD(a,b) = NWD(a, b-a) gdzie a<b<br>

In [4]:
a = 20
b = 16
while a != b:
    if a > b:
        a = a-b
    else:
        b = b-a
print(a)

4

__Przykład 5__<br>
Napisz kod na obliczanie dominanty. Jeeli mamy remis to wybierz dowoln z tych liczb.

In [32]:
lista = [1,2,3,4,5,6,7,8,9,3,6,3,5,3,7,5,2,5,9,1,1,6,7,8,3,5,8,4,5,4,6,7,8,3,2,3,5,7,2,6,9,1,1,6,7,8,3,
         5,8,9,5,4,6,7,8,3,2,3,5,7,2,6,9,1,1,6,7,8,3,5,8,9,5,4,6,2,5,9,1,1,6,5,8,9,2,5,8,3,8,1,5,8,9,4]

In [23]:
zliczenia = dict()
klucze = set(lista)
for klucz in klucze:
    zliczenia[klucz] = 0
for i in lista:
    zliczenia[i] += 1
max_klucz = ''
max_wartosc = 0
for klucz, wartosc in zliczenia.items():
    if wartosc > max_wartosc:
        max_klucz = klucz
        max_wartosc = wartosc
    else:
        pass
print(f"Jest najwięcej wystąpień {max_klucz}. Liczba wystąpień to {max_wartosc}")

Jest najwięcej wystąpień 5. Liczba wystąpień to 16

__Przykład 6__<br>
Zaimplemenuj liczenie mediany dla liczb z listy.

In [42]:
lista_mediana = lista[:]
lista_mediana.sort()
active = True
while active:
    dlugosc_listy = len(lista_mediana)
    if dlugosc_listy <= 2:
        mediana = sum(lista_mediana)/dlugosc_listy
        active = False
    else:
        lista_mediana = lista_mediana[1:-1]
print(mediana)

5.0

__Przykład 7__<br>
Sprawdź czy napis jest palindromem, czyli na wspak da taki sam napis jak "kajak".

In [53]:
napis = 'samochód'
a = True
n = len(napis)
for i in range(len(napis)//2): ##// zaokrągla w dół
    if napis[i] != napis[n-i-1]:
        a = False
        print("Nie jest palindromem")
        break
if a == True:
    print("Jest palindromem")

Nie jest palindromem

__Przykład 8__<br>
W folderze 4.Pliki dodatkowe znajdują się 2 pliki: Dane historyczne dla EUR_PLN i EUR_USD.<br>
Stwórz słownik z notowaniami dla par EUR_PLN i EUR_USD w formie listy dla kursów z otwarcia dla dat od 12.09.2022 do 16.09.2022.<br>
Dodaj nowy klucz z notowaniami dla pary USD_PLN (obliczając ją odpowiednia dzieląc kurs EUR/PLN przez EUR/USD).

In [56]:
EUR_PLN = [4.6870, 4.7167, 4.7127, 4.7201, 4.7123]
EUR_USD = [1.0119, 0.9970, 0.9977, 0.9999, 1.0015]
kursy = {'EUR_PLN' : EUR_PLN, 'EUR_USD' : EUR_USD}

In [59]:
kursy['USD_PLN'] = [i_EUR_PLN / i_EUR_USD for i_EUR_PLN, i_EUR_USD in zip(kursy['EUR_PLN'], kursy['EUR_USD'])]

In [72]:
#drugi sposób z poleceniem map
#map(funkcja, wartości1, wartości2,...) wykonuje dane operacje na wartościach

from operator import truediv #import funkcji dzielącej
list(map(truediv, EUR_PLN, EUR_USD))

[4.631880620614686,
 4.7308926780341025,
 4.723564197654605,
 4.720572057205721,
 4.705242136794808]

In [79]:
#teraz sami zaimplementujmy dzielenie dla funkcji map
def dzielenie(numer1, numer2):
    return numer1/numer2
    
list(map(dzielenie, EUR_PLN, EUR_USD))

[4.631880620614686,
 4.7308926780341025,
 4.723564197654605,
 4.720572057205721,
 4.705242136794808]

__Przykład 9__<br>
Narysujmy choinke ze zdefiniowaną wysokością

In [95]:
n=6
for i in range(n):
    for j in range(n-i):
        print(' ', end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print(" ") #nowa linia

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *

In [93]:
for i in range(n):
    for j in range(n-i):
        print(' ', end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print(" ") #nowa linia
    
for i in range(n):
    for j in range(n-i):
        print(' ', end=' ')
    for k in range(2*i+1):
        print('*',end=' ')
    print(" ") #nowa linia
    
for i in range(max(n//2, 2)):
    for j in range(n-1):
        print(' ', end=' ')
    print('* * *')

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
          * * *
          * * *
          * * *

__Przykład 10__<br>
Mając kurs EUR/USD sprawdź czy danego dnia kurs jest poniżej czy powyżej parytetu (parytet: EUR/USD = 1)

|Data|EUR/USD|
|----|-------|
|25.08.2022|0.9974| 
|26.08.2022|0.9961|
|29.08.2022|0.9995|
|30.08.2022|1.0012|
|31.08.2022|1.0057|

In [108]:
EUR_USD = {
"25.08.2022" : 0.9974,
"26.08.2022" : 0.9961,
"29.08.2022" : 0.9995,
"30.08.2022" : 1.0012,
"31.08.2022" : 1.0057
}

In [117]:
#ciekawsza wersja
def roznica(wartosc):
    return wartosc - 1

roznice = list(map(roznica, list(EUR_USD.values())))
zipped = zip(list(EUR_USD.keys()), roznice)

for data, roznica in zipped:
    if roznica < 0:
        print(f"Kurs EUR/USD poniżej parytetu dnia {data}")
    else:
        print(f"Kurs EUR/USD powyżej parytetu dnia {data}")

Kurs EUR/USD poniżej parytetu dnia 25.08.2022
Kurs EUR/USD poniżej parytetu dnia 26.08.2022
Kurs EUR/USD poniżej parytetu dnia 29.08.2022
Kurs EUR/USD powyżej parytetu dnia 30.08.2022
Kurs EUR/USD powyżej parytetu dnia 31.08.2022

In [116]:
#prostsza wersja
for data, kurs in EUR_USD.items():
    if kurs<1:
        print(f"Dnia {data} kurs euro do usd znalazł się poniżej parytetu")
    else:
        print(f"Dnia {data} kurs euro do usd znalazł się powyżej parytetu")

Dnia 25.08.2022 kurs euro do usd znalazł się poniżej parytetu
Dnia 26.08.2022 kurs euro do usd znalazł się poniżej parytetu
Dnia 29.08.2022 kurs euro do usd znalazł się poniżej parytetu
Dnia 30.08.2022 kurs euro do usd znalazł się powyżej parytetu
Dnia 31.08.2022 kurs euro do usd znalazł się powyżej parytetu