# Python i bazy danych. Standard ODBC.

Szymon Dziubak

ODBC (Open Database Connectivity) - API do uzyskania połączenia z bazą danych.<br>
Więcej: https://www.geeksforgeeks.org/connectivity-of-odbc/

Jeżeli połączenie nie będzie działało to pobierz driver ze strony: http://www.ch-werner.de/sqliteodbc/ (sqlliteodbc.exe)

In [1]:
import sqlite3

In [9]:
con = sqlite3.connect(r"C:\Users\BPOL_1637\Documents\sgh\python\sqlalchemy\site.db")

In [13]:
cur = con.cursor()
for row in con.execute("SELECT * FROM sqlite_schema"):
    print(row)

('table', 'users', 'users', 2, 'CREATE TABLE users (\n\tid INTEGER NOT NULL, \n\tusername VARCHAR(25) NOT NULL, \n\temail VARCHAR(80) NOT NULL, \n\tdate_created DATETIME, \n\tPRIMARY KEY (id), \n\tUNIQUE (username), \n\tUNIQUE (email)\n)')
('index', 'sqlite_autoindex_users_1', 'users', 3, None)
('index', 'sqlite_autoindex_users_2', 'users', 4, None)

In [14]:
for row in con.execute("SELECT * FROM users"):
    print(row)

(1, 'Andrzej', 'Andrzej@Kowalski.pl', '2022-10-24 16:05:27.068261')
(2, 'Anna', 'anna@sgh.waw.pl', '2022-10-24 16:05:27.080779')
(3, 'Kasia', 'kasia@sgh.waw.pl', '2022-10-24 16:05:27.091107')
(4, 'Asia', 'asia@sgh.waw.pl', '2022-10-24 16:05:27.100097')

In [17]:
cur.execute("CREATE TABLE filmy(tytuł, rok, wynik)")
cur.execute("""
    INSERT INTO filmy VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")
con.commit() #do zatwierdzenia operacji

OperationalError: near "OR": syntax error

In [18]:
for row in con.execute("SELECT * FROM filmy"):
    print(row)

('Monty Python and the Holy Grail', 1975, 8.2)
('And Now for Something Completely Different', 1971, 7.5)

In [20]:
#insert wielu wierszy na raz
dane = [
    ("Monty Python Live at the Hollywood Bowl", 1982, 7.9),
    ("Monty Python's The Meaning of Life", 1983, 7.5),
    ("Monty Python's Life of Brian", 1979, 8.0),
]
cur.executemany("INSERT INTO filmy VALUES(?, ?, ?)", dane)
con.commit()

In [21]:
for row in con.execute("SELECT * FROM filmy"):
    print(row)

('Monty Python and the Holy Grail', 1975, 8.2)
('And Now for Something Completely Different', 1971, 7.5)
('Monty Python Live at the Hollywood Bowl', 1982, 7.9)
("Monty Python's The Meaning of Life", 1983, 7.5)
("Monty Python's Life of Brian", 1979, 8.0)

In [22]:
#zamknięcie połączenia
con.close()